/* 전체 폰트 적용 (우선순위: Pretendard -> Noto Sans -> 기본 고딕) */
body, button, input, textarea, select {
    font-family: 'Pretendard', 'Noto Sans KR', 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased; /* 글자 부드럽게 */
}

/* 기본 여백 제거 및 화면 꽉 채우기 설정 */
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}